RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
# Change "username" and "flasky" to your username and whatever directory name you made in public_html, respectively
RewriteRule ^(.*)$ /~ankurmahesh/weatherwebsite/run.fcgi/$1 [QSA,L]
